<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trademarkModal" 
data-whatever="@mdo" (click)="populateFormrs(trademarkService.formData)">Add</button>

<div class="modal fade" id="trademarkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Trademark</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                Key
                            </div>
                        </div>
                        <input name="trademarkId" [value]="trademarkService.formData.trademarkId"
                        class="form-control" disabled>
                    </div>
                </div>
                    
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                Trademark Name
                            </div>
                        </div>
                        <input name="trademarkName" #trademarkName="ngModel" [(ngModel)]="trademarkService.formData.trademarkName"
                        class="form-control" placeholder="Trademark Name" required>
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                Status
                            </div>
                        </div>
                        <select class="form-control" name="status" #status="ngModel" [(ngModel)]="trademarkService.formData.status">
                            <option value="1" selected="selected">1</option>
                            <option value="0">0</option>
                        </select>
                        <!-- <input name="status" #status="ngModel" [(ngModel)]="trademarkService.formData.status"
                        class="form-control" placeholder="Status"> -->
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                Created Date
                            </div>
                        </div>
                        <input type="datetime-local" name="createdDate" #createdDate="ngModel" [(ngModel)]="trademarkService.formData.createdDate"
                        class="form-control" placeholder="Created Date">
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                Updated Date
                            </div>
                        </div>
                        <input type="datetime-local" name="updatedDate" #updatedDate="ngModel" [(ngModel)]="trademarkService.formData.updatedDate"
                        class="form-control" placeholder="Updated Date">
                    </div>
                </div>

                <div class="modal-footer form-group">
                    <button class="btn btn-success" type="submit" ><i class="fas fa-database"></i> Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

