<div class="input-group">
    <input type="text" class="form-control" [(ngModel)]="searchText" name="searchText" placeholder="Search">
</div>

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Updated Date</th>
        </tr>
        <tr *ngFor="let ship of shipmentService.list | filter: searchText | paginate: {itemsPerPage: 10, currentPage: p}">
            <td data-toggle="modal" data-target="#shipmentOrderModal" data-whatever="@mdo" (click)="getShipmentID(ship.shipmentId)">{{ship.shipmentId}}</td>
            <td data-toggle="modal" data-target="#shipmentOrderModal" data-whatever="@mdo" (click)="getShipmentID(ship.shipmentId)">{{ship.shipmentName}}</td>
            <td data-toggle="modal" data-target="#shipmentOrderModal" data-whatever="@mdo" (click)="getShipmentID(ship.shipmentId)">{{ship.price}}</td>
            <td data-toggle="modal" data-target="#shipmentOrderModal" data-whatever="@mdo" (click)="getShipmentID(ship.shipmentId)">{{ship.status}}</td>
            <td data-toggle="modal" data-target="#shipmentOrderModal" data-whatever="@mdo" (click)="getShipmentID(ship.shipmentId)">{{ship.createdDate | date: 'dd-MM-yyyy'}}</td>
            <td data-toggle="modal" data-target="#shipmentOrderModal" data-whatever="@mdo" (click)="getShipmentID(ship.shipmentId)">{{ship.updatedDate | date: 'dd-MM-yyyy'}}</td>
            <!-- <td>
                <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(ship.shipmentID)"></i>
            </td> -->
            <td>
                <button class="btn btn-primary" type="button" (click)="populateForm(ship)" data-toggle="modal" data-target="#shipmentUpdateModal" data-whatever="@mdo">Update</button>
            </td>
        </tr>
    </table>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<div class="modal fade" id="shipmentUpdateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Shipment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                Key
                            </div>
                        </div>
                        <input name="shipmentId" [value]="shipmentService.formData.shipmentId"
                        class="form-control" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                Name
                            </div>
                        </div>
                        <input name="shipmentName" #shipmentName="ngModel" [(ngModel)]="shipmentService.formData.shipmentName"
                        class="form-control" placeholder="Name" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                Price
                            </div>
                        </div>
                        <input name="price" #price="ngModel" [(ngModel)]="shipmentService.formData.price"
                        class="form-control" placeholder="Price" required>
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                Status
                            </div>
                        </div>
                        <select class="form-control" name="status" #status="ngModel" [(ngModel)]="shipmentService.formData.status">
                            <option value="1" selected="selected">1</option>
                            <option value="0">0</option>
                        </select>
                        <!-- <input name="status" #status="ngModel" [(ngModel)]="shipmentService.formData.status"
                        class="form-control" placeholder="Status"> -->
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                Created Date
                            </div>
                        </div>
                        <input type="datetime-local" name="createdDate" #createdDate="ngModel" [(ngModel)]="shipmentService.formData.createdDate"
                        class="form-control" placeholder="Created Date">
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text bg-white">
                                Updated Date
                            </div>
                        </div>
                        <input type="datetime-local" name="updatedDate" #updatedDate="ngModel" [(ngModel)]="shipmentService.formData.updatedDate"
                        class="form-control" placeholder="Updated Date">
                    </div>
                </div>

                <div class="modal-footer form-group">
                    <button class="btn btn-success" type="submit" ><i class="fas fa-database"></i> Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="shipmentOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Orders List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
          <div class="table-responsive">
              <table class="table table-hover">
                  <tr>
                    <th>User</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Price</th>
                    <th>Note</th>
                  </tr>
                  <tr *ngFor="let order of orderService.list" (click)="getOrderID(order.orderId)">
                        <td *ngIf="shipmentID == order.shipmentId; else elseBlock">
                            <span *ngFor="let user of userService.list">
                                <span *ngIf="order.userId == user.userId">
                                    {{user.userName}}
                                </span>
                            </span>
                        </td>
                        <td *ngIf="shipmentID == order.shipmentId; else elseBlock">{{order.status}}</td>
                        <td *ngIf="shipmentID == order.shipmentId; else elseBlock">{{order.orderDate | date: 'dd-MM-yyyy'}}</td>
                        <td *ngIf="shipmentID == order.shipmentId; else elseBlock">{{order.orderPhone}}</td>
                        <td *ngIf="shipmentID == order.shipmentId; else elseBlock">{{order.orderAddress}}</td>
                        <td *ngIf="shipmentID == order.shipmentId; else elseBlock">{{order.orderPrice}}</td>
                        <td *ngIf="shipmentID == order.shipmentId; else elseBlock">{{order.orderNote}}</td>
                  </tr>
                  <ng-template #elseBlock></ng-template>
                </table>
          </div>
          
      </div>
            
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>